// banner
nav.w3-navbar
  .container
    .nav-top
      // Logo
      .logo
        a(href='/') Shreedutt 
          span Vyas
      // Logo
      .right
        .w3-socials
          ul
            li
              a(href='#')
                span.fa.fa-facebook
            li
              a(href='#')
                span.fa.fa-vk
            li
              a(href='#')
                span.fa.fa-pinterest-p
            li
              a(href='#')
                span.fa.fa-twitter
        .clearfix
  // end container


// nav
.w3layouts-nav-right
  .fat-nav
    .fat-nav__wrapper
      ul
        li
          a(href='/') Home
        li
          a.scroll(href='/about') About Me
        li
          a.scroll(href='/services') My Services
        li
          a.scroll(href='/projects') My projects
        li
          a.scroll(href='/contact') Contact
// //nav
