extends layout

block mainSection
    // About section
    #about.about
        .container
            h3.text-center About Me
            .col-md-5.about_left
                
            .col-md-7.about_right
                h3 Hi, I am Shreedutt Vyas
                h4 Web designer : I Love coding
                p.
                    As a short term goal, I am looking for an opportunity to grow my career with a reputed organization. 
                    My vision in life is to make something big in life and bring laurels to the organization I work with. 
                    It would be an immense pleasure for me if I am given any opportunity.

                p.
                    I believe that there is something to learn from everyone and that is my biggest strength. 
                    I like to take up challenges and take the lesson plan from my mistakes. 
                    I am a perfectionist and I strive for excellence.
                ul
                    li
                        a.w3ls_more.scroll(href='/contact') Hire Me
                    li
                        a.w3l.scroll(href='/contact') Contact Me
                .clearfix
        // //About section
