doctype html
html
  head
    title Poirtfolio 
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
  
    // menu
    link(type='text/css', rel='stylesheet', href='stylesheets/cm-overlay.css')
    // //menu
    link(href='stylesheets/jquery.fatNav.css', rel='stylesheet', type='text/css')
    // FlexSlider
    link(rel='stylesheet', href='stylesheets/flexslider.css', type='text/css', media='screen')
    // //FlexSlider
    link(rel='stylesheet', href='stylesheets/lightbox.css')
    // For-gallery-CSS
    // custom css theme files
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css', type='text/css', media='all')
    link(rel='stylesheet', href='stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='stylesheets/style.css', type='text/css', media='all')
    // //custom css theme files
    // google fonts
    link(href='//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese', rel='stylesheet')
    // //google fonts

  body
    block headerSection
      include partials/header.pug

    block mainSection

    block footerSection
      include partials/footer.pug
    
