extends layout

block mainSection
    // gallery
    #gallery.gallery
    .container
        .about-head.text-center
        h3.text-center My Projects
        .gallery-info
        .col-md-3.gallery-grids
            a.gallery-box(href='images/p1.jpg', data-lightbox='example-set', data-title='')
            img.img-responsive.zoom-img(src='images/p1.jpg', alt='')
        .col-md-3.gallery-grids
            a.gallery-box(href='images/p2.jpg', data-lightbox='example-set', data-title='')
            img.img-responsive.zoom-img(src='images/p2.jpg', alt='')
        .col-md-3.gallery-grids
            a.gallery-box(href='images/p3.jpg', data-lightbox='example-set', data-title='')
            img.img-responsive.zoom-img(src='images/p3.jpg', alt='')
        .col-md-3.gallery-grids
            a.gallery-box(href='images/p4.jpg', data-lightbox='example-set', data-title='')
            img.img-responsive.zoom-img(src='images/p4.jpg', alt='')
        .col-md-3.gallery-grids
            a.gallery-box(href='images/p5.jpg', data-lightbox='example-set', data-title='')
            img.img-responsive.zoom-img(src='images/p5.jpg', alt='')
        .col-md-3.gallery-grids
            a.gallery-box(href='images/p6.jpg', data-lightbox='example-set', data-title='')
            img.img-responsive.zoom-img(src='images/p6.jpg', alt='')
        .col-md-3.gallery-grids
            a.gallery-box(href='images/p7.jpg', data-lightbox='example-set', data-title='')
            img.img-responsive.zoom-img(src='images/p7.jpg', alt='')
        .col-md-3.gallery-grids
            a.gallery-box(href='images/p8.jpg', data-lightbox='example-set', data-title='')
            img.img-responsive.zoom-img(src='images/p8.jpg', alt='')
        .col-md-3.gallery-grids
            a.gallery-box(href='images/p9.jpg', data-lightbox='example-set', data-title='')
            img.img-responsive.zoom-img(src='images/p9.jpg', alt='')
        .col-md-3.gallery-grids
            a.gallery-box(href='images/p10.jpg', data-lightbox='example-set', data-title='')
            img.img-responsive.zoom-img(src='images/p10.jpg', alt='')
        .col-md-3.gallery-grids
            a.gallery-box(href='images/p11.jpg', data-lightbox='example-set', data-title='')
            img.img-responsive.zoom-img(src='images/p11.jpg', alt='')
        .col-md-3.gallery-grids
            a.gallery-box(href='images/p12.jpg', data-lightbox='example-set', data-title='')
            img.img-responsive.zoom-img(src='images/p12.jpg', alt='')
        .clearfix  
        script(src='javascripts/lightbox-plus-jquery.min.js')
    // //gallery