extends layout
block mainSection
    // /services
    #services.w3-services
        .container
            .w3-services-grids
                h3.text-center My Services
                div(class="col-md-4 w3-services-left-grid")
                    p.
                        "I believe in the power of recognition and empowerment leading to great employee engagement. And employee engagement is critical to guest engagement. Employee empowerment and recognition is the core of our culture and how we achieve outstanding customer service." - Herve Humler
                    .more
                        a(href='#') Know more
                .col-md-8.w3-services-right-grid
                    .w3-icon-grid-gap1
                        .col-md-4.w3-icon-grid1
                            i.fa.fa-codepen(aria-hidden='true')
                            h3 Web design
                            .clearfix
                            p.
                                
                        .col-md-4.w3-icon-grid1
                            i.fa.fa-mobile(aria-hidden='true')
                            h3 Mobile Apps
                            .clearfix
                            p.
                                
                        .col-md-4.w3-icon-grid1
                            i.fa.fa-hourglass(aria-hidden='true')
                            h3 Animation
                            .clearfix
                            p.
                                
                        .clearfix

                    .w3-icon-grid-gap2
                        .col-md-4.w3-icon-grid1
                            i.fa.fa-modx(aria-hidden='true')
                            h3 Photoshop
                            .clearfix
                            p
                            
                        .col-md-4.w3-icon-grid1
                            i.fa.fa-bar-chart(aria-hidden='true')
                            h3 Marketing
                            .clearfix
                            p.
                                
                        .col-md-4.w3-icon-grid1
                            i.fa.fa-shopping-bag(aria-hidden='true')
                            h3 Development
                            .clearfix
                            p.
                                
                        .clearfix
            .clearfix
        // //services

    // skills
    #skills.skills-agileinfo
        .container
            h3.text-center My skills
            .modal-spa
                .skills
                    .col-md-6.bar-grids.bargrids-left
                        h4  Technical Skills 
                        p.
                            
                        h6
                            | web design  
                            span  80% 
                        .progress
                            .progress-bar.progress-bar-striped.active(style='width: 80%')
                        h6
                            | ui design & developer 
                            span  70% 
                        .progress.w3-agile
                            .progress-bar.progress-bar-striped.active(style='width: 70%')
                        h6
                            | Javascript
                            span 90% 
                        .progress.w3-agile
                            .progress-bar.progress-bar-striped.active(style='width: 90%')
                        h6
                            | Photoshop 
                            span  75% 
                        .progress.w3-agile.prgs-w3agile-last
                            .progress-bar.progress-bar-striped.active(style='width: 75%')
                    .col-md-6.bar-grids.w3-agile
                        h4  My Hobbies 
                        p.
                            
                        .col-md-4.hobbies-grid1.grid1
                            span.fa.fa-codepen
                            h5 Coding
                        .col-md-4.hobbies-grid1.grid2
                            span.fa.fa-hourglass
                            h5 Research
                        .col-md-4.hobbies-grid1.grid3
                            span.fa.fa-camera
                            h5 Photography
                        .clearfix
                        .col-md-4.hobbies-grid1.grid4
                            span.fa.fa-plane
                            h5 Travelling
                        .col-md-4.hobbies-grid1.grid5
                            span.fa.fa-headphones
                            h5 Music
                        .col-md-4.hobbies-grid1.grid6
                            span.fa.fa-tint
                            h5 Thinking
                        .clearfix
                    .clearfix  
            // //skills
